.nav-bar {
  background-color: rgb(55, 0, 255);
}

.nav-bar ul {
  display: flex;
  list-style: none;
  padding: 0px;
}
.nav-bar ul li {
  text-align: center;
}
.nav-bar ul li a {
  display: block;
  width: 60px;
  padding: 15px;
}
