.nav-bar {
  background-color: cornflowerblue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-bar ul {
  display: flex;
  list-style: none;
}

.nav-bar ul li {
  text-align: center;
}

.nav-bar ul li a {
  display: block;
  width: 60px;
  text-decoration: none;
  color: white;
  padding: 15px;
}
.nav-bar ul li a:hover {
  background-color: rgba(0, 15, 221, 0.418);
  color: rgb(233, 19, 19);
}
.header-section {
  height: 100vh;
  background-image: url("https://cdn.babamail.co.il/Images/2013/7/24/d57ffb00-7651-4ffa-a346-1a509d9fdd0f.jpg");
  background-size: cover;
}
