.nav-bar ul {
  display: flex;
  list-style: none;
}
.nav-bar {
  background-color: beige;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.main-button:hover {
  background-color: black;
}
.cards-container {
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  flex: 0 0 20%;
  border-radius: 5px;
  border-style: solid;
  border-color: lightgray;
  border-width: 2px;
  min-width: 200px;
}

.nav-bar ul li {
  text-align: center;
}

.nav-bar ul li a {
  display: block;
  width: 60px;
  text-decoration: none;
  color: white;
  padding: 15px;
}
