.nav-bar {
  background-color: darkblue;
}
.nav-bar {
  background-color: lightblue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.nav-bar ul {
  display: flex;
  list-style-type: none;
}
.header-section {
  height: 100vh;
  background-image: url("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwip8e2losLmAhWLKewKHT1aBJwQjRx6BAgBEAQ&url=https%3A%2F%2Fwww.pcgamesn.com%2Foverwatch-2%2Ftalents&psig=AOvVaw2NFIO1hb5Z7kDuKotqrGNh&ust=1576863972108079");
  background-size: cover;
}
