.nav-bar {
  background-color: darkblue;
}
.nav-bar {
  background-color: lightblue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.nav-bar ul {
  display: flex;
  list-style-type: none;
}
.header-section {
  height: 100vh;
  background-image: url("https://www.google.com/url?sa=i&source=images&cd=&ved=2ahUKEwi40bzDncLmAhXS2qQKHTsmC1wQjRx6BAgBEAQ&url=https%3A%2F%2Fwhatculture.com%2Fcomics%2Fthe-flash-ranking-every-character-from-worst-to-best&psig=AOvVaw1LAPoCyHOzJdrC0Z0wumO6&ust=1576862685999728");
  background-size: cover;
}
