body {
  direction: rtl;
}

.nav-bar {
  background-color: rgb(255, 0, 0);
}

.nav-bar ul {
  display: flex;
  list-style: none;
}

.nav-bar ul li {
  text-align: center;
}

.nav-bar ul li a {
  display: block;
  width: 60px;
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 15px;
}
.nav-bar ul li a:hover {
  background-color: rgb(89, 0, 255);
}

.header-section {
  height: 100vh;
  background-image: url("https://ae01.alicdn.com/kf/HTB1r1EXapmWBuNjSspdq6zugXXaD/-.jpg");
}
