body {
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: Arial, Helvetica, sans-serif;
}
.nav-bar {
  background-color: cornflowerblue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-bar ul {
  display: flex;
  list-style: none;
}

.nav-bar ul li a {
  padding: 15px;
  text-decoration: none;
  display: block;
  width: 60px;
  color: rgb(255, 238, 0);
}
.nav-bar ul li a:hover {
  background-color: gold;
  color: blue;
}

.header-section {
  height: 100vh;
  background-image: url("https://cdn.onebauer.media/one/media/5d18/8071/2851/e25e/3066/174e/tcTjAGX9YPCMCrnXmbgXKKtECgh.jpg");
}
