body {
  padding: 0;
  margin: 0;
  direction: rtl;
}
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: blue;
}
.nav-bar ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}
.nav-bar ul li {
  text-align: center;
}
.nav-bar ul li a {
  display: block;
  width: 100px;
  text-decoration: none;
  color: rgb(0, 0, 5);
  padding: 15px;
}
.nav-bar ul li a:hover {
  background-color: rgb(0, 0, 0);
  color: blue;
}
.header-section {
  height: 100vh;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAANoAAADnCAMAAABPJ7iaAAAAJFBMVEUAAP7///8AAPH7//////IAA/Y5Pbf//vX///s8Orv//f///vx7UlUWAAAAjElEQVR4nO3SSwrCAAwE0Gm1Gu3976t4gIKCCsN7MIusQj5ZamXfZ57ZX5n5pJz3y180y793+z051cq5VvND3mplrZWtVvNoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADAga1W82hrrVxqZamVa63cazU/5NQqvtoDDE5J18IzRgcAAAAASUVORK5CYII=");
  background-size: cover;
  background-color: blue;
  background-blend-mode: multiply;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-section div {
  color: antiquewhite;
  margin-left: 20%;
  margin-right: 20%;
  background-color: black;
  padding: 15px;
  border-radius: 5px;
}
.main-button {
  display: inline-block;
  text-decoration: none;
  background-color: black;
  color: blue;
  padding: 15px;
  border-radius: 5px;
}
.main-button:hover {
  background-color: white;
}
