.nav-bar {
  background-color: blue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.nav-bar ul {
  display: flex;
  list-style: none;
}
.nav-bar ul li a {
  padding: 15px;
  text-decoration: none;
  color: white;
}
.header-section {
  height: 100vh;
  background-image: url("https://ksr-ugc.imgix.net/assets/024/842/687/d3386f9be112cbdd99241db3a4a15c70_original.jpg?ixlib=rb-2.1.0&crop=faces&w=1552&h=873&fit=crop&v=1555756424&auto=format&frame=1&q=92&s=00ed003c5b0ae221de4570ab77aa5442");
  background-size: cover;
  background-color: rgba(128, 128, 128);
  background-blend-mode: multiply;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body {
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: Arial, Helvetica, sans-serif;
}
.header-section div {
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 15px;
  border-radius: 5px;
}
.main-button {
  display: inline-block;
  text-decoration: none;
  background-color: orange;
  color: white;
  padding: 15px;
  border-radius: 5px;
}

.main-button:hover {
  background-color: green;
}
.cards-container {
  margin-top: 10vh;
  margin-bottom: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  flex: 0 0 20%;
  border-radius: 5px;
  border-style: solid;
  border-color: lightgray;
  border-width: 2px;
  min-width: 200px;
}
.card-image {
  height: 200px;
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/017/647/641/large/sandra-schnell-warri2k.jpg?1556811697");
  background-size: cover;
  background-position: center;
  padding: 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-image1 {
  height: 200px;
  background-image: url("https://mcdn.wallpapersafari.com/medium/19/73/jk36gh.jpg");
  background-size: cover;
  background-position: center;
  padding: 15px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.category {
  background-color: tomato;
  color: white;
  font-weight: bold;
  padding: 6px 25px;
}
.card-content {
  padding: 15px;
}
html {
  scroll-behavior: smooth;
}
