.nav-bar {
  background-color: cornflowerblue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.nav-bar ul {
  display: flex;
  list-style: none;
}

.nav-bar ul li a {
  display: block;
  width: 60px;
  text-decoration: none;
  color: white;
  padding: 15px;
}
.nav-bar ul li a:hover {
  background-color: white;
  color: cornflowerblue;
}
body {
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: Arial, Helvetica, sans-serif;
}
.header-section {
  height: 100vh;
  background-image: url("https://www.rzr-trip.co.il/image/users/233695/ftp/my_files/%D7%A8%D7%99%D7%99%D7%96%D7%A8_%D7%91%D7%A7%D7%A4%D7%99%D7%A6%D7%94.jpg?id=11207719");
  background-size: cover;
  background-color: rgba(128, 128, 128);
  background-blend-mode: multiply;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header-section div {
  color: white;
  margin-left: 20%;
  margin-right: 20%;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 15px;
  border-radius: 5px;
}
